<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../assets/styles/styles.css" />
    <link rel="stylesheet" href="portfolio.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:600|Open+Sans:300|Montserrat:700"
      rel="stylesheet"
    />
    <title>Portfolio</title>
  </head>
  <body>
    <div class="portfolio">
      <div class="portfolio-container">
        <div class="section-title">
          <h6>MY PORTFOLIO</h6>
          <h1>Some Of My Latest Works.</h1>
        </div>
        <div class="slider-container">
          <div class="slider-slides" id="sliderSlides"></div>
          <div class="dots-container" id="dots"></div>
        </div>
      </div>
      <script src="./../../../utils/dummy.js"></script>
      <script src="portfolio.js"></script>
    </div>
  </body>
</html>
