<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="header.css" />
  </head>
  <body>
    <div class="header-banner">
      <div class="home-bubble" id="bubbleContainer">
        <!-- Render bubbles by JS -->
      </div>
      <img
        class="header-background"
        src="../../../assets/images/header_background.svg"
        alt
      />
      <div class="container-header title">
        <div class="row">
          <div class="col-lg-6">
            <div class="frelencer-content">
              <h2>
                Hey there!<br />
                I'm Martin Solonick Independent&nbsp;<span>Frelencer</span>
              </h2>
              <h4 class="description">
                <span>I CREATE THOUSAND OF WEBSITE</span>
              </h4>
              <a class="hire-me" href="http://john.wethemez.com/">Hire me</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="frelencer-img" id="headerImageContainer">
              <!-- Render images by JS -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../../utils/dummy.js"></script>
    <script src="./header.js"></script>
  </body>
</html>
