<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="feedback.css" />
      <link rel="stylesheet" href="../../../assets/styles/styles.css">
      <title>Feedback</title>
    </head>
    <body>
      <div class="feedback-container">
        <div class="feedback-image">
          <img
            src="../../../assets/images/feedback1.svg"
            height="423"
            width="540"
          />
        </div>
        <div class="slideshow-container" id = "slideshowContainer">
          <div class="slideshow__title">Customer Feedback</div>
          <div class= "slideshow__content">What our customers say about John..</div>
          <div class="slides-container" id="slidesContainer"></div>
          <br />
        </div>
      </div>
      <script src="../../../utils/dummy.js"></script>
      <script src="feedback.js"></script>
    </body>
</html>
