.feedback-container {
  line-height: 30px;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.feedback-image {
  left: 30rem;
  float: left;
}
.slideshow-container {
  max-width: 450px;
  float: left;
  overflow: hidden;
  margin-left: 5rem;
}
.slideshow__title {
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #0db3c7; /* powder blue */
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.slideshow__content {
  font-size: 38px;
  font-weight: 700;
  color: #040c2c;/* dark blue*/
  text-transform: capitalize;
  letter-spacing: -2px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.slides-container {
  display: flex;
  max-width: 1800px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.slide {
  padding-right: 3.2rem;
  width: 450px;
}
.slide__description {
  width: 400px;
  color:grey;
}
.slide img {
  margin-top: 2rem;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}
.person__description {
  font-size: 18px;
  color: #040c2c;/*dark blue*/
  /* black */
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0;
  line-height: 18px;
  display: inline-block;
  margin-top: 0%;
  margin-left: 1rem;
}
.slide span {
  font-size: 13px;
  color: #677294; /* grey */
  line-height: 12px;
}
.slide pre {
  margin-top: 2.75rem;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot.active,
.dot:hover {
  background-color: #0db3c7; /* poweder blue */
}
