<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta viewport="width=device-width" />
    <title>Partner</title>
    <link rel="stylesheet" href="./partner.css" />
    <link rel="stylesheet" href="./../../../assets/styles/styles.css" />
</head>

<body>
    <div class="background-image__circle"></div>
    <div class="partner-container">
        <div class="partner-description">
            <div class="partner-description__introduction">
                <h6>My great partner</h6>
                <h2>Some Of Great Companies Portfolio Discribe</h2>
                <p>Cack brolly butty grub chancer smashing brilliant vagabond, chimney pot blower such a fibber ummm
                    I'm telling chinwag he lost his bottle nancy boy.</p>
            </div>
            <div class="partner-description__clients-items">
                <div>
                    <div class="partner-number">1K</div>
                    <span>Total clients</span>
                </div>
                <div>
                    <div class="partner-number">50</div>
                    <span>Sponsers</span>
                </div>
            </div>
        
        </div>
        <div class="partner-description__images">
            <ul class="partner-items" id="partnerItems" onload="makeCircleItems()">
                <!--Js will make list items this -->
            </ul>
        </div>
       
        <script src="./../../../utils/dummy.js"></script>
        <script src="./partner.js"></script>
    </div>
    </div>
</body>

</html>