<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="skill.css" />
		<link rel="stylesheet" href="../../../assets/styles/styles.css" />
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:600|Open+Sans:300|Montserrat:700"
		rel="stylesheet"
		/>
	</head>
	<body>
		<div class="skill" onmouseover="countUp()" onmousewheel="countUp()">
		<div class="content_left_of_skill">
			<h6 class="title_of_skill">MY FEATURED SKILLS</h6>
			<h2 class="main_idea_of_skill">Some Interesting Facts About Me.</h2>
			<p class="content_of_skill">
			Horse play chinwag bog-standard loo cup of char fanny around tinkety
			tonk old fruit bog me old mucker is bits and bobs, mush cheeky bugger
			nancy boy.!
			</p>
			<div class="box" id="box"></div>
		</div>
		<div class="content_right_of_skill">
			<img src="../../../assets/images/image_skill.png" alt="image_skill" />
		</div>
		</div>
		<script src="./../../../utils/dummy.js"></script>
		<script src="skill.js"></script>
	</body>
</html>
