<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog</title>
		<link rel="stylesheet" href="blog.css" />
		<link rel="stylesheet" href="../../../assets/styles/styles.css" />
	</head>
	<body>
		<div class="blog-container" id="blogContainer">
		<div class="blog-title">
			<h6>Our Blog</h6>
			<h2>News and Updates</h2>
		</div>
		<script src="./../../../utils/dummy.js"></script>
		<script src="blog.js"></script>
		</div>
	</body>
</html>
