<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="stylesheet" href="services.css" />
  </head>
  <body>
    <div class="services-container">
      <div class="services-content">
        <div class="services-content__title">
          <h6>What i do?</h6>
          <h2>Innovative Solutions To Grow Your Creative Projects</h2>
        </div>
        <div class="services-content__introduction">
          <p>
            I’m John, a visual designer based in UK. I specialize in helping
            startups grow their businesses.
          </p>
        </div>
        <ul id="listServices" class="services-list">
          <script src="./../../../utils/dummy.js"></script>
          <script src="./services.js"></script>
        </ul>
      </div>
      <div class="services-image">
        <img
          id="servicesImage"
          src="./../../../assets/images/smile.svg"
          alt="this is an image"
        />
      </div>
    </div>
  </body>
</html>
